<div>
  <h2>
    Add a new ticket
  </h2>
  <form action="/insert_ticket" method="post">
    <div>
      <label for="details_box">
        Details
      </label>
      <textarea id="details_box" name="query_details" rows="3"></textarea>
    </div>

    <div>
      <label for="details_box">
        Measurements
      </label>
      <textarea id="details_box" name="query_details" rows="1"></textarea>
    </div>
    
    
    <div>
      <label for="photo_box">
         Photo
      </label>
      <input type="file" id="photo" name="photo" class="form-control">
    </div>

    <select name="vendor_id">
      <option></option>
      <% User.all.each do |v|%>
        <option value="<%= v.id %>"><%= v.name %></option>
      <% end %>
    </select>

    <button>
      Create ticket
    </button>
  </form>
</div>
