<h1>About Brandi..</h1>
<div style="display: flex; justify-content: center; align-items: center;">
  <div style="text-align: left; width: 60%;">
    <p>Brandi is...... </p>
  </div>
  <div style="width: 60%;">
    <%= image_tag("aboutme.jpg", alt: "Brandi", style: "max-width: 100%;") %>
  </div>
</div>
